<nav>
    <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Social Hub</span>
    </div>

    <div class="sidebar">
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Social Hub</span>
        </div>

        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a href="#" class="nav-link" onclick="showContent('profile')">
                        <i class='bx bx-user-circle icon'></i>
                        <span class="link">Profile</span>
                    </a>
                </li>
               <!--  <li class="list">
                    <a href="#" class="nav-link" onclick="showContent('nationalId')">
                        <i class='bx bx-id-card icon'></i>
                        <span class="link">National ID</span>
                    </a>
                </li> -->
                <!-- <li class="list">
                    <p class="nav-title nav-title1">
                        <span class="link link3">System</span>
                    </p>
                </li> -->
                <li class="list">
                    <a href="#" class="nav-link">
                        <i class='bx bx-cog icon'></i>
                        <span class="link">Settings</span>
                    </a>
                </li>
                <li class="list">
                    <a href="userLoginForm.html" class="nav-link">
                        <i class='bx bx-log-out icon'></i>
                        <span class="link">Logout</span>
                    </a>
                </li>
            </ul>

            <div class="bottom-content">
                
            </div>
        </div>
    </div>
</nav>

<main class="main-open">
    
         
</main>


<section class="overlay"></section>

<script src="/sources/js/main_form.js">
</script>





    <!-- css -->
    <link rel="stylesheet" href="/sources/css/main_form_style.css" />
    <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />