<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Julios R. Felisilda">
    <link rel="icon" type="image/x-icon" href="/sources/img/socialhub.png">
    <link rel="stylesheet" href="/sources/css/style.css">
    <title>Social Hub - Sign In</title>
</head>
<body>

    <div class="center">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="txt-field">
                <input type="text" required>
                <span></span>
                <label for="">Username</label>
            </div>
            <div class="txt-field">
                <input type="password" required>
                <span></span>
                <label for="">Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Login" >
           <!--  onclick="mainForm()" -->
          <!--  onclick="handleLinkClick(event)" -->
            <div class="signup_link">
                Not a member? <a href="sign_up.html">Signup</a>
            </div>
        </form>
    </div>

    <script src="/sources/js/sign_in.js"></script>
    
</body>
</html>


    
